{% extends 'hospital/homebase.html' %}

{% block content %}

<br>
<br>

<div class="jumbotron" style="margin-bottom:0px; background-color:#aaf4ff">
  <h1 class="display-3" style="text-align:center; font-family:'Times New Roman';">Hello, Admin</h1>
  <p class="lead text-center">Welcome to Hospital Management System.</p>
  <hr class="my-4">
 
  <p class="lead text-center">
    <a class="btn btn-danger btn-lg" href="/adminsignup" role="button">Sign Up</a>
    <a class="btn btn-success btn-lg" href="/adminlogin" role="button">Login</a>
  </p>
</div>

{% endblock content %}
